@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap');

.main{
    position: relative;
    width: 100%;
display: flex;
    justify-content: space-around;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
}
.name{
    position: relative;
}
.date{
    position: relative;
    font-weight: bold;
}